@model IEnumerable<parking_manager.DTO.ParkingSessionsDTO>

<h2>Veículos no Estacionamento</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Horário de Chegada</th>
            <th>Horário de Saída</th>
            <th>Duração</th>
            <th>Tempo Cobrado (hora)</th>
            <th>Preço(R$)</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model)
        {
            <tr>
                <td>@session.VehiclePlate</td>
                <td>@session.EntryDate</td>
                <td>@session.ExitDate</td>
                <td>@session.TotalPrice</td>

            </tr>
        }
    </tbody>
</table>